<!DOCTYPE html>
<html>
    <head>
        {{#extend "partials-common-head"}}
        {{/extend}}
        {{#extend "partials-common-head-2d"}}
        {{/extend}}
        {{#block "vendor"}}
        {{/block}}
        {{#extend "partials-amd-head-2d"}}
        {{/extend}}

        {{#block "head"}}
        {{/block}}
        {{#block "style"}}
        {{/block}}

    </head>
    <body>
        <h1>SDK Géoportail 2D</h1>
        {{#block "body"}}
        {{/block}}

        {{#block "js"}}
        {{/block}}
    </body>
</html>
