/dist
/doc
/jsdoc
/lib
/licences
/node_modules
/publish
/res
/samples
/samples-src
/scripts
/_site
/src
/test
/samples
/utils
/target
.*
COMPILE.md
CONTRIBUTING.md
CONTRIBUTORS.md
DEPENDENCIES.md
map-2d.json
map-3d.json
package-lock.json
DEPENDENCIES.md
webpack.config.2d.js
webpack.config.3d.js
webpack.test.serve.js
build.sh
CHANGELOG*
*.gz
*.tgz
*.sh
*.txt
*.log
