/node_modules

/dist
/doc
/jsdoc
/lib
/licences
/publish
/res
/samples
/samples-src
/target
/scripts
/test
/utils

.*

TODO.md
FIXME.md
COMPILE.md
CONTRIBUTING.md
CONTRIBUTORS.md
DEPENDENCIES.md

map-2d.json
map-3d.json

package-lock.json

webpack.*

*.gz
*.tgz
*.sh
*.txt
*.log
