/*!
 * @overview   OpenLayers. See http://openlayers.org/
 * @copyright  Copyright 2005-present, OpenLayers Contributors All rights reserved.
 * @license    BSD 2-Clause "Simplified" License
 *             See https://raw.githubusercontent.com/openlayers/openlayers/master/LICENCE.md
 * @version    {__VERSION__}
 */
